logs/
toolkit/__pycache__
tex_refs/project_work.bib.sav
data/
.ipynb_checkpoints/
project_work.html
results/efficientnetv2l_vgg19_batch2/
results/vgg19_vgg19_batch16_lrsched/
results/efficientnetv2l_vgg19/20230525_194238.pth
results/resnet50_vgg19/20230514_213740.pth
results/vgg19_bn_vgg19/20230525_045131.pth
results/vgg19_vgg19/20230510_172958.pth
htmls/
indent.log
build/project_work.aux
build/project_work.bbl
build/project_work.bcf
build/project_work.blg
build/project_work.fdb_latexmk
build/project_work.fls
build/project_work.lof
build/project_work.log
build/project_work.lot
build/project_work.out
build/project_work.run.xml
build/project_work.synctex.gz
build/project_work.toc
.vscode/
build/project_work_pres.aux
build/project_work_pres.bbl
build/project_work_pres.bcf
build/project_work_pres.blg
build/project_work_pres.fdb_latexmk
build/project_work_pres.fls
build/project_work_pres.log
build/project_work_pres.nav
build/project_work_pres.out
build/project_work_pres.run.xml
build/project_work_pres.snm
build/project_work_pres.synctex.gz
build/project_work_pres.toc
build/BME_introduction.aux
build/BME_introduction.bbl
build/BME_introduction.bcf
build/BME_introduction.blg
build/BME_introduction.fdb_latexmk
build/BME_introduction.fls
build/BME_introduction.log
build/BME_introduction.nav
build/BME_introduction.out
build/BME_introduction.run.xml
build/BME_introduction.snm
build/BME_introduction.synctex.gz
build/BME_introduction.toc
