logs/
toolkit/__pycache__
results/
tex_refs/project_work.bib.sav
data/
.ipynb_checkpoints/
htmls/
indent.log
build/project_work.aux
build/project_work.bbl
build/project_work.bcf
build/project_work.blg
build/project_work.fdb_latexmk
build/project_work.fls
build/project_work.lof
build/project_work.log
build/project_work.lot
build/project_work.out
build/project_work.run.xml
build/project_work.synctex.gz
build/project_work.toc
